<div class="container">
  <div class="eight mt-4">
    <h1>Services</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 pt-2">
    <div class="col">
      <div class="card shadow py-3 px-2">
        <div class="image text-center">
          <img
            src="../../../assets/development.webp"
            class="card-img-top"
            alt="Service"
            class="w-50 mw-100"
          />
        </div>
        <div class="seven">
          <h1>Web Development</h1>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow py-3 px-2">
        <div class="image text-center">
          <img
            src="../../../assets/dis.webp"
            class="card-img-top"
            alt="Service"
            class="w-50 mw-100"
          />
        </div>
        <div class="seven">
          <h1>Web Designing</h1>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow py-3 px-2 ">
        <div class="image text-center">
          <img
            src="../../../assets/fix.webp"
            class="card-img-top"
            alt="Service"
            class="w-50 mw-100"
          />
        </div>
        <div class="seven">
          <h1>Fixing Issues</h1>
        </div>
      </div>
    </div>
  </div>
</div>
