<div class="header">
  <div class="two alt-two">
    <h1 class="display-5">
      Mhd Rabee Naser
      <span>Front-End Developer</span>
    </h1>
  </div>
  <div style="position: absolute; bottom: 5px; right: 10px">
    <a href="//linkedin.com" target="_blank" class="">
      <img
        src="../../../assets/LinkedIn.svg"
        alt="icon"
        width="20"
        height="20"
        class="rounded-circle me-2"
      />
    </a>
    <a href="https://github.com/MhdRabeai" target="_blank" class="">
      <img
        src="../../../assets/github.svg"
        alt="icon"
        width="20"
        height="20"
        class="rounded-circle me-2"
      />
    </a>
    <a href="mailto:mhd.rabea.naser@gmail.com" target="_blank" class="">
      <img
        src="../../../assets/Gmail.svg"
        alt="icon"
        width="20"
        height="20"
        class="rounded-circle me-2"
      />
    </a>
    <a href="https://www.facebook.com/sefo.na" target="_blank" class="">
      <img
        src="../../../assets/Facebook.svg"
        alt="icon"
        width="20"
        height="20"
        class="rounded-circle me-2"
      />
    </a>

    <a
      href="https://web.whatsapp.com/send?phone=+963988021203&amp;"
      target="_blank"
      class=""
    >
      <img
        src="../../../assets/WhatsApp.svg"
        alt="icon"
        width="20"
        height="20"
        class="rounded-circle me-2"
      />
    </a>
  </div>
</div>
