<div class="card shadow text-center project-card">
  <div class="card-body">
    <div class="eleven">
      <h1 class="card-title">{{ project.name }}</h1>
    </div>

    <p class="card-text mt-2">
      {{ project.desc }}
    </p>
    <div class="test">
      <button class="button" (click)="openModal()">View More</button>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-wrap justify-content-center">
      <div *ngFor="let tag of project.tags">
        <p class="tag me-2 mb-1" [style.background]="tag.color">{{ tag }}</p>
      </div>
    </div>
  </div>
</div>
